*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{
    font-family: "Inter", sans-serif;}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #cbcbcb;}
.card{ 
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    width:263px;
    background:#FFF;
    border-radius:8px;
    overflow:hidden; /* important */
    height:auto;}
 .card img{
    width:100%;
    display:block;
}
.text-button{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;}
.text-button, p{
    color: #616469;
    /* text/text sm */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}
.text-button, h3{
    .text-button, p{
    color: #3A3E44;
    /* text/text sm */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}
}
.text-button button{
    border-radius:4px;
    border:1px solid #E0E2E6;
    background:#FFF;
    padding:4px 8px;
    box-shadow:0 1px 2px rgba(0,0,0,.1);
}
.text02{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}
.btn03{
    display: inline-flex;
    padding: 12px 27px;
    justify-content: center;
    align-items: center;
    gap: var(--Styling-Spacing-1, 4px); }
.card02{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 27px;
    background: #FFF;
}
.card02, p{
    color: #525252;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
}
.card02, img{
    height: 368px;
    width: 368px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
}
.card02, button{
    border-radius:4px;
    border:1px solid #E0E2E6;
    background:#FFF;
    padding:4px 8px;
    box-shadow:0 1px 2px rgba(0,0,0,.1);
}
.tab01{
    color: #000;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #525252;
    padding: 14px;
}
.tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    



}
