*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{
    font-family: "Inter", sans-serif;}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #F5F5FA;}

.primarybtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    gap: 1rem;
    background: linear-gradient(93deg, #FFD8B5 -14.02%, #AB5000 144.98%);
    border-radius: 1rem;
    border: 0px;
    color: #FFF1E5;}
    
.secondrybtn{
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem 1.5rem;
    border: 3px solid transparent;
    border-radius: 1rem;
    background:
        linear-gradient(#474747, #474747) padding-box,
        linear-gradient(93deg, #FFD8B5 -14.02%, #AB5000 144.98%) border-box;
    color: #FFF1E5;}

.primarybtn h6,
.secondrybtn h6{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
    transition: transform 0.5s ease;
}
.icon{ 
    transition: transform 0.3s ease;}
.primarybtn img {
    transition: transform 0.3s ease;
}
    .primarybtn:hover img {
        transform: translateX(5px);
    }
.secondrybtn img{
    transition: transform 0.3s ease;}

    .secondrybtn:hover img{
        transform: translateX(5px);}
.btn03{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    border: none;
    border-radius: 32px;
    background-color: #E5E5F0;
    box-shadow: -5px -5px 10px 0 rgba(255, 255, 255, 0.50), 5px 5px 10px 0 rgba(170, 170, 204, 0.25), 10px 10px 20px 0 rgba(170, 170, 204, 0.50), -10px -10px 20px 0 #FFF;
}
.btn03, h6{
    color: #7878AB;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    letter-spacing: 0.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
}